@tailwind base;
@tailwind components;
@tailwind utilities;


.RecipesParentContainer {
    @apply 
    w-full
    h-auto
    mt-16
    flex
    flex-col
    gap-6
    divide-y-2
    max-w-[700px]

    tb:w-[760px]
    tb:flex-row
    tb:flex-wrap
    tb:divide-y-0
}